body {
    background-color: #111111;
}

h1 {
    color: #e2e80f;
    font-size: 120%;
}
p {
    color: #eeeeee;
    font-size: 110%;
    padding: 5%;
}

.credits {
    text-decoration: underline;
    color: #49DAFF;
    cursor: pointer;
}

#film-description {
    font-size: 80%;
    font-style: italic;
}