.img {
    width: 40%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

li {
    margin-left: 2.5em;
    font-size: 140%;
   }

p {
    font-size: 150%;
    line-height: 25px
}

h1 {
    font: Georgia;
    color: DarkGreen;
    text-align: center;
    font-size: 250%;
    ;
}
h2 {
    font: Georgia;
    font-size: 200%;
    text-align: center;
}

a {
    text-decoration:none;
    font-size: 150%

}

a:hover {
   text-decoration: underline;
}

body {
    margin-left: 28%;
    margin-right: 28%;
}

.label {
    text-transform: uppercase; 
}

.after {
    clear: both;
}